{% extends 'layout.html.twig' %}
{% set active = 'Home' %}
{% block content %}
    {{ content }}<br />
    Maybe go to <a href="{{ path(pages['Products'].name) }}">{{ pages['Products'].name }}</a>
{% endblock %}