{% extends 'layout.html.twig' %}
{% block content %}
<div class="row">
{% for productid, product in products %}
    <div class="product col-xs-6 col-sm-4 col-md-3">
        <a href="{{ path('ProductDetail', {id: productid}) }}">
            <p class="img-caption">{{ product.name }}</p>
            <img class="img-responsive img-thumbnail" src="{{ product.img }}" alt="{{ product.name }}">
        </a>
    </div>
{% endfor %}
</div>
{% endblock %}